@vlocity-ins:registry=https://repo.vlocity.com/repository/vlocity-public/
@vlocity-ins-sdk:registry=https://repo.vlocity.com/repository/vlocity-public/
engine-strict=true
always-auth=true
//registry.npmjs.org/:_auth="Y3VzdG9tZXJfcG9jOndvOUJIQnFaRVMwWFpwWWE="
